@import "fonts";

$color-main: #004a85;
$color-text: #101010;
$color-text-grey: #8a8a8a;
$color-title-grey: #525252;
$background-button: #009a9a;
$color-button-hover: #414141;
$background-button-hover: #7d7d7d;
$background-footer: #003048;



//$ff: 'Open Sans', sans-serif;
$ff: 'Roboto', sans-serif;
$ff-calculator: 'Exo 2', sans-serif;


